<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="heading-custom-search" />
  <span class="custom-search-button">
    <button type="button" class=" ">SEARCH</button>
  </span>
</div>