{{ header }}
<div id="common-servicing" class="page-containers">
    
    <div class="showcase-module-subpages">
        <div class="picture-container">
            <div class="image active" style="background-image: url(image/repair.jpg)"> </div>
             <div class="image" style="background-image: url(image/repair.jpg)"> </div>
              <div class="image" style="background-image: url(image/repair.jpg)"> </div>
            
        </div>
        <div class="right-content-container">
            <div class="module-title">
                <h1>Servicing</h1>
                <h3>We offer a variety of professional services by our highly <br/>
                qualified experts to guarantee only the best for your watch</h3>    
            </div>
            <div class="name-container">
                <div class="product-name">
                    <div class="product active">
                        <h2>Repairs</h2>
                    </div>
                    <div class="product">
                        <h2>Polish</h2>
                    </div>
                    <div class="product">
                        <h2>Alterations</h2>
                    </div>

                </div>
                
            </div>     
            <div class="info-container">
                <div class="info active">
                    <p>
                        Your watch will be professionally repaired by our watch experts where we can fix any defects with the watch mechanism.
                    </p>
                </div> 
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum dolor id ipsum euismod posuere. Donec venenatis molestie diam
                    </p>
                </div>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum dolor id ipsum euismod posuere. Donec venenatis molestie diam
                    </p>
                </div>
            </div>
        </div>
        <div class="next-section right-side">
            <div class="arrow">
                <svg version="1.1" class="svg-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 50 25" style="enable-background:new 0 0 50 25;" xml:space="preserve">
                <path class="st0 point" d="M28.8,20.5c0-5.3,0-10.7,0-16c5.8,2.7,11.5,5.3,17.3,8C40.3,15.2,34.6,17.8,28.8,20.5z"/>
                <line class="st0 stem"  x1="33.8" y1="12.5" x2="4.8" y2="12.5"/>
                </svg>
            </div>
            <h4>Send A Message</h4>
        </div> 
    </div>

    <div class="form-container">
        <h2>Details Of Your Watch</h2>
        <form>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <div class="input-container">
                <label for="brand">BRAND</label>
                <input class="info-input" type="text" name="brand">
            </div>
             <div class="input-container">
                <label for="model">MODEL</label>
                <input class="info-input" type="text" name="model">
            </div>
             <div class="input-container">
                <label for="reference">REFERENCE</label>
                <input class="info-input" type="text" name="reference">
            </div>
            <div class="input-container-checkbox">
                <input type="checkbox" class="checkbox-input" name="service1" value="POLISH"><label class="checkbox-label" for="service1">POLISH</label><br/>
            </div>
            <div class="input-container-checkbox">
                <input type="checkbox" class="checkbox-input" name="service2" value="REPAIR"><label class="checkbox-label" for="service2">REPAIR</label><br/>
            </div>
            <div class="input-container-checkbox">
                <input type="checkbox" class="checkbox-input" name="service3" value="ALTERATIONS"><label class="checkbox-label" for="service1">ALTERATIONS</label><br/>
            </div>
            <div class="input-container-checkbox">
                <input type="checkbox" class="checkbox-input" name="service4" value="OTHER"><label class="checkbox-label" for="service1">OTHER</label><br/>
            </div>

            <h2>Contact Details</h2>

             <div class="input-container">
                <label for="brand">NAME</label>
                <input class="info-input" type="text" name="name">
            </div>
             <div class="input-container">
                <label for="model">EMAIL ADDRESS</label>
                <input class="info-input" type="text" name="email">
            </div>
             <div class="input-container">
                <label for="reference">PHONE</label>
                <input class="info-input" type="text" name="phone">
            </div>
              <div class="input-container">
                <label for="reference">COMMENTS</label>
                <textarea  name="comment">
                </textarea>
            </div>
            <input class="submit-button" type="submit" value="Submit">
        </form>
    </div>

   
    



</div>

{{ footer }}