{{ header }}
<div id="common-watches" class="page-containers">
    <div class="one-up-product-title">
        <div class="content-container">
            <h1 class="heading">
                Watches
            </h1>
         
        </div>
    </div>
    <div class="product-list-container">
        <div class="sort-open">
            <span>SORT BY</span>
        </div>
        <div class="product-list">
            <div class="product-item">
                <div class="image" style="background-image: url(image/watch-1.jpg)">
                    <div class="info">
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta sem non tempor tincidunt. Quisque porta molestie dolor, a maximus nulla scelerisque vitae.
                        </p>
                        <p class="price">
                            £12,000
                        </p>
                    </div>
                </div>
                <div class="title">
                    <h3>Sky Dweller Men’s Rolex</h3>
                    <span>EXPLORE</span>
                </div>
            </div>
            <div class="product-item">
                <div class="image" style="background-image: url(image/watch-1.jpg)">
                    <div class="info">
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta sem non tempor tincidunt. Quisque porta molestie dolor, a maximus nulla scelerisque vitae.
                        </p>
                        <p class="price">
                            £12,000
                        </p>
                    </div>
                </div>
                <div class="title">
                    <h3>Sky Dweller Men’s Rolex</h3>
                    <span>EXPLORE</span>
                </div>
            </div>
            <div class="product-item">
                <div class="image" style="background-image: url(image/watch-1.jpg)">
                    <div class="info">
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta sem non tempor tincidunt. Quisque porta molestie dolor, a maximus nulla scelerisque vitae.
                        </p>
                        <p class="price">
                            £12,000
                        </p>

                    </div>
                </div>
                <div class="title">
                    <h3>Sky Dweller Men’s Rolex</h3>
                    <span>EXPLORE</span>
                </div>
            </div>
            <div class="product-item">
                <div class="image" style="background-image: url(image/watch-1.jpg)">
                    <div class="info">
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta sem non tempor tincidunt. Quisque porta molestie dolor, a maximus nulla scelerisque vitae.
                        </p>
                        <p class="price">
                            £12,000
                        </p>

                    </div>
                </div>
                <div class="title">
                    <h3>Sky Dweller Men’s Rolex</h3>
                    <span>EXPLORE</span>
                </div>
            </div>
            <div class="product-item">
                <div class="image" style="background-image: url(image/watch-1.jpg)">
                    <div class="info">
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta sem non tempor tincidunt. Quisque porta molestie dolor, a maximus nulla scelerisque vitae.
                        </p>
                        <p class="price">
                            £12,000
                        </p>

                    </div>
                </div>
                <div class="title">
                    <h3>Sky Dweller Men’s Rolex</h3>
                    <span>EXPLORE</span>
                </div>
            </div>
            <div class="product-item">
                <div class="image" style="background-image: url(image/watch-1.jpg)">
                    <div class="info">
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta sem non tempor tincidunt. Quisque porta molestie dolor, a maximus nulla scelerisque vitae.
                        </p>
                        <p class="price">
                            £12,000
                        </p>

                    </div>
                </div>
                <div class="title">
                    <h3>Sky Dweller Men’s Rolex</h3>
                    <span>EXPLORE</span>
                </div>
            </div>
        </div>
    </div>
   



</div>

{{ footer }}